<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">



	<import resource="applicationContext.xml" />
	<context:component-scan base-package="action" />
	
	<!-- service -->
	<bean id="userServiceImpl" class="service.impl.UserServiceImpl" autowire="byName" />
	<bean id="userDetailService" class="service.impl.UserDetailServiceImpl" autowire="byName" />
	<bean id="companyService" class="service.impl.CompanyServiceImpl" autowire="byName" />
	<bean id="jobService" class="service.impl.JobServiceImpl" autowire="byName" />
	<bean id="searchService" class="service.impl.SearchServiceImpl" autowire="byName" />
	<bean id="userJobService" class="service.impl.UserJobServiceImpl" autowire="byName" />
	<bean id="adminService" class="service.impl.AdminServiceImpl" autowire="byName" />

	<!-- dao -->
	<bean id="userDao" class="dao.impl.UserDaoImpl" autowire="byName" />
	<bean id="userDetail" class="dao.impl.UserDetailDaoImpl" autowire="byName" />
	<bean id="globalDao" class="dao.impl.GlobalDaoImpl" autowire="byName"  />


</beans>
