/* body {<!--
	color: #333; -->
	font: 12px/1.5 tahoma, arial, ו, sans-serif;
	position: relative;
} */

body {
	font-size: 100%;
	font-family: 'OpenSansLight', sans-serif;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	*font-size: 100%
}

._position {
	font-size: 13px;
}

ul {
	list-style: none;
}

/* a:LINK{
	color: white;
}

a:HOVER{
	color: white;
	background-color: gray;
}

a{noFocusLine:expression(this.onFocus=this.blur());outline:0} */

._left {
	float: left;
	width: 400px;
	padding-left: 30px;
}

._center {
	float: left;
}

.content clearfix {
	width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

.easyTable table {
	width: 100%;
	table-layout: fixed
}

.easyTable th, .easyTable td {
	border-bottom: 1px #eee solid;
	padding: 5px 0;
	text-align: center;
	font-weight: normal;
}

.easyTable th {
	background-color: #c0c0c0;
	border-color: #d5dfe8
}

.easyTable tr:hover {
	background-color: #c0c0c0
}
